$primary: teal;
// $myColor: #ff5733;
$myColor: brown;

@import "bootstrap/scss/bootstrap";

.Map {
  height: 800px;
}

.logo {
  border-radius: 20px;
  filter: blur(5px);
  width: 400px;
  height: 200px;
}

p {
  color: $myColor;
}
